<h1>Wants list</h1>

<table id="wants" class="table toggle_want_behaviour">
  <thead>
    <th class='col-md-1'>GL #</th>
    <th class='col-md-2'>Actions</th>
    <th class='col-md-2'>Game</th>
    <th class='col-md-2'>Username</th>
    <th class='col-md-2'>Trade Code</th>
    <th class='col-md-3'>Cash Offer</th>
  </thead>
  <tbody class="reorder_want_behaviour" data-sort-url="<%= sort_wants_path %>">
    <% @wants.each do |want| %>
      <%= content_tag_for :tr, want do %>
        <td class='col-md-1'>
          <%= link_to want.index, Bgg.link_to_list_item(want.list_entry_id) %>
        </td>
        <td class='col-md-2'>
          <%= link_to '-want', want_path(want.id), data: { 
            remote: true, type: 'json', method: 'delete', disable_with: 'Submitting...', success_text: 'REMOVED'
          }, :class => 'btn btn-primary btn-xs' %>
          <span class="help handle"><i class="fa fa-bars"></i> [reorder]</p>
        </td>
        <td class='col-md-2'>
          <%= link_to want.name, Bgg.link_to_thing(want.game_id) %>
        </td>
        <td class='col-md-2'>
          <%= link_to want.owner, Bgg.link_to_user(want.owner) %>
        </td>
        <td class='col-md-2'>
          <%= want.trade_code %>
        </td>
        <td class='col-md-3, edit-want-<%= want.id %>'>
          <% if want.cash_offer %>
            <%= render 'cash_offer', want: want %>
          <% else %>
            <%= link_to 'Add Cash Offer', edit_want_path(want), data: { remote: true } %>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
